{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="shadow p-3 mb-5 container py-5 text-bg-dark" 
    style="height: 700px; border-radius: 15px; overflow: auto;">
    
    <div class="container">
        <a href="/settings/security"><button class="btn btn-success">Security</button></a>
        
        

    </div>

</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}